/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define NAV 1
#define NUM 2

/ {
    keymap {
        compatible = "zmk,keymap";

        ldt21_layer {
            bindings = <
&kp ESCAPE      &kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &kp F6          &kp F7    &kp F8     &kp F9      &kp F10        &kp F11           &kp F12            &kp DEL
&kp GRAVE       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5        &kp NUMBER_6    &kp N7    &kp N8     &kp N9      &kp N0         &kp MINUS         &kp EQUAL          &kp BACKSPACE
&kp TAB         &kp Q         &kp W         &kp E         &kp R         &kp T         &kp Y           &kp U     &kp I      &kp O       &kp P          &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH
&kp CAPS        &kp A         &kp S         &kp D         &kp F         &kp G         &kp H           &kp J     &kp K      &kp L       &kp SEMICOLON  &kp SQT           &kp ENTER          &kp DELETE
&kp LEFT_SHIFT  &kp Z         &kp X         &kp C         &kp V         &kp B         &kp N           &kp M     &kp COMMA  &kp PERIOD  &kp SLASH      &kp RIGHT_SHIFT   &kp UP
&kp LCTRL       &kp LEFT_ALT  &kp LEFT_GUI  &kp SPACE     &kp LEFT_GUI  &kp LEFT_ALT  &kp LEFT_ARROW  &kp DOWN  &kp RIGHT
            >;

            label = "LDT";
        };
    };
};
